body {
	padding-top: 60px; /*60px to make the container go all the way to the bottom of the topbar */
	position: relative;
	height: 100%;
	min-height: 500px;
}

#fixScroll{
	position: absolute;
	top: 60px;
	bottom: 0px;
	width: 100%;
}

.indScroll{
	overflow: auto;
	height: 100%;
	position : absolute;
}

.buttons-row{
	position: absolute;
	top: 60%;
	left: 43.5%;
}

.rightBar{
	left: 42%;
	/*width: 65% !important;*/
}


#subbed{
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .1);
	overflow: scroll;
	height: 100%;
}

#notSubbed{
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .1);
	overflow: scroll;
	height: 100%;
}

#subbed .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: rgba(50, 218, 124, .82);
color: #FFFFFF;
}

#subbed .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #aaaaaa;
background: rgba(43, 194, 109, .82);
color: #FFFFFF;
}

#subbed .ui-widget-content {
border: 1px solid #aaaaaa;
background: rgba(255, 255, 255, .01);
color: #222222;
}

#subbed .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
border: 1px solid #999999;
background: rgba(43, 194, 109, .82);
color: #FFFFFF;
}


#notSubbed .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: rgba(235, 43, 54, .89);
color: #FFFFFF;
}

#notSubbed .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #aaaaaa;
background: rgba(204, 66, 66, .95);
color: #FFFFFF;
}

#notSubbed .ui-widget-content {
border: 1px solid #aaaaaa;
background: rgba(255, 255, 255, .01);
color: #222222;
}

#notSubbed .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
border: 1px solid #999999;
background: rgba(204, 66, 66, .95);
color: #FFFFFF;
}

.hide{
	visibility: hidden;
}

.popupDialog{
	/*TODO*/
}

.ui-widget-overlay {
	background: black !important;
	opacity: .9 !important;
}



.popupDialog.ui-dialog .ui-dialog-content select#itineraryAssignGuestSelect {
        max-width:180px;
}


.popupDialog .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
        background:#EEE;
        border:none;
        color:#333;
        margin:0px;
        height:32px;
        padding:3px 10px 3px 10px;
        line-height:28px;
        -moz-border-radius: 6px 6px 0px 0px;
        -webkit-border-radius: 6px 6px 0px 0px;
        border-radius: 6px 6px 0px 0px;
}

.popupDialog .ui-dialog-titlebar .ui-dialog-title {
        font-weight: bold;
}

.popupDialog .ui-widget-content {
        background:white;
        border:none;
        color:#333;
        border-radius: 6px;
}

.popupDialog .dialog-ui.ui-dialog-content.ui-widget-content {
	padding:0;
}



.ui-draggable-helper .ui-widget-content {
border: 1px solid #aaaaaa;
background: rgba(255, 255, 255, .01);
color: #222222;
}

.ui-draggable-helper .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
border: 1px solid #999999;
background: rgba(255, 255, 204, 0.9);
color: black;
}

.ul{
	list-style-type: circle;
}

/* Gabe Formatting Fix */
.navbar .brand {
	margin-left: 20px;
}

@media(max-width:979px){
	.navbar-fixed-top, .navbar-fixed-bottom{
		position: fixed;
	}
	.navbar .btn-navbar {
		margin-right: 26px
	}
}
