body {
	padding-top: 60px; /*60px to make the container go all the way to the bottom of the topbar */
	position: relative;
	height: 100%;
	min-height: 500px;
}

#fixScroll{
	position: absolute;
	top: 60px;
	bottom: 0px;
	width: 100%;
}

.indScroll{
	overflow: auto;
	height: 100%;
	position : absolute;
}

.buttons-row{
	position: absolute;
	top: 90%;
	left: 45%;
}

.rightBar{
	left: 42%;
	/*width: 65% !important;*/
}


#subbed{
	border-radius: 5px;
	background-color: rgba(0, 255, 0, .1);
	overflow: scroll;
	height: 100%;
}

#notSubbed{
	border-radius: 5px;
	background-color: rgba(255, 0, 0, .1);
	overflow: scroll;
	height: 100%;
}

#subbed .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: rgba(59, 224, 132, .84);
color: #FFFFFF;
}

#subbed .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #aaaaaa;
background: rgba(120, 231, 67, .95);
color: #FFFFFF;
}

#subbed .ui-widget-content {
border: 1px solid #aaaaaa;
background: rgba(120, 231, 67, .95);
color: #FFFFFF;
}

#subbed .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
border: 1px solid #999999;
background: rgba(255, 255, 255, 1);
color: #000000;
}


#notSubbed .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #d3d3d3;
background: rgba(253, 78, 71, .95);
color: #FFFFFF;
}

#notSubbed .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #aaaaaa;
background: rgba(255, 0, 0, .01);
color: #212121;
}

#notSubbed .ui-widget-content {
border: 1px solid #aaaaaa;
background: rgba(255, 0, 0, .01);
color: #222222;
}

#notSubbed .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
border: 1px solid #999999;
background: rgba(204, 66, 66, .95);
color: #FFFFFF;
}

/* Gabe Formatting Fix */
.navbar .brand {
	margin-left: 20px;
}

@media(max-width:979px){
	.navbar-fixed-top, .navbar-fixed-bottom{
		position: fixed;
	}
	.navbar .btn-navbar {
		margin-right: 26px
	}
}
